:root {
  --bg-color: #eee;
  --dark-bg-color: #ddd;
  --text-color: #222;
  --accent-color: gold;
  --dark-accent-color: hsla(51, 100%, 45%, 1);
  --magic-color: purple;
  --error-color: red;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  color: var(--text-color);
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40%;
}

#outputs {
  width: 100%;
  background-color: var(--bg-color);
}

#guess-form {
  margin-bottom: 10px;
}

#guess {
  width: 100%;
  border: none;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  caret-color: var(--accent-color);
}
#guess:focus {
  outline: none;
}

#toast {
  content: '';
  border-radius: 3px;
  padding: 5px 10px;
  min-height: 28px;
  /* Inverted colors */
  background-color: var(--text-color);
  color: var(--bg-color);
  font-size: 18px;
  transition: all 100ms;
}
#toast.hidden {
  opacity: 0;
}
#toast.good {
  background-color: var(--accent-color);
  color: var(--text-color);
}
#toast.bad {
  background-color: var(--error-color);
}
#toast.magic {
  background-color: var(--magic-color);
}

#letters {
  --hex-size: 60px;
  /* This is the value of sin(120)/sin(30) AKA sqrt(3). */
  /* CSS has no native sin() or sqrt() support yet. */
  --hex-ratio: 1.7320508075688776;
  --hex-width: var(--hex-size);
  --hex-height: calc(var(--hex-ratio) * var(--hex-width));
  --hex-gap: 5px;
}
#letters {
  width: calc(5 * var(--hex-width) + (2 * var(--hex-gap)));
  margin-top: 25px;
}
.letter {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  width: var(--hex-width);
  height: var(--hex-height);
  background-color: var(--bg-color);
  font-size: var(--hex-size);
}
.letter:before,
.letter:after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  border-top: calc(var(--hex-height) / 2) solid transparent;
  border-bottom: calc(var(--hex-height) / 2) solid transparent;
}
.letter:before {
  /* width / 2 */
  left: calc(-1 * var(--hex-width) / 2);
  border-right: calc(var(--hex-width) / 2) solid var(--bg-color);
}
.letter:after {
  right: calc(-1 * var(--hex-width) / 2);
  border-left: calc(var(--hex-width) / 2) solid var(--bg-color);
}

.letter.base {
  background-color: var(--accent-color);
}
.letter.base:before {
  border-right-color: var(--accent-color);
}
.letter.base:after {
  border-left-color: var(--accent-color);
}

.letter:focus {
  outline: none;
}
.letter:active,
.letter.active {
  background-color: var(--dark-bg-color);
}
.letter:active:before,
.letter.active:before {
  border-right-color: var(--dark-bg-color);
}
.letter:active:after,
.letter.active:after {
  border-left-color: var(--dark-bg-color);
}

.letter,
.letter:before,
.letter:after {
  transition: all 100ms;
}

.letter.base:active,
.letter.base.active {
  background-color: var(--dark-accent-color);
}
.letter.base:active:before,
.letter.base.active:before {
  border-right-color: var(--dark-accent-color);
}
.letter.base:active:after,
.letter.base.active:after {
  border-left-color: var(--dark-accent-color);
}

.letter:nth-child(n+2),
.letter:nth-child(n+5) {
  margin-top: calc((-1 * var(--hex-height) / 2) + var(--hex-gap) / var(--hex-ratio));
}
.letter:nth-child(1),
.letter:nth-child(4),
.letter:nth-child(7) {
  margin-left: calc(2 * var(--hex-width) + var(--hex-gap));
  margin-right: calc(2 * var(--hex-width) + var(--hex-gap));
}
.letter:nth-child(2),
.letter:nth-child(5) {
  margin-left: calc(var(--hex-width) / 2);
  margin-right: calc(2 * var(--hex-width) + 2 * var(--hex-gap));
}

#controls {
  margin-top: 30px;
}
#controls button {
  border: none;
  border-radius: 3px;
  padding: 15px;
  background-color: var(--bg-color);
  text-transform: uppercase;
  font-size: 18px;
}
#controls button:focus,
#controls button:active {
  outline: none;
  background-color: var(--dark-bg-color);
}

#progress {
  font-size: 26px;
}

#guesses {
  overflow: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 60px 0;
}
.guess-wrapper {
  margin-bottom: 15px;
  margin-right: 15px;
}
.guess {
  border-radius: 3px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 24px;
}
.guess.cheat {
  color: var(--magic-color);
}
.guess.pangram {
  background-color: gold;
}

#stats {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 3px;
  padding: 20px;
  width: 400px;
  /* Inverted colors */
  background-color: var(--text-color);
  color: var(--bg-color);
  max-height: 100vh;
}
#toggle-stats {
  position: absolute;
  bottom: 100%;
  right: 5px;
  border-radius: 3px 3px 0 0;
  border: none;
  padding: 5px;
  /* Inverted colors */
  background-color: var(--text-color);
  color: var(--bg-color);
}
#toggle-stats:focus,
#toggle-stats:active {
  outline: none;
  color: var(--accent-color);
}
#expanded-stats.hidden {
  display: none;
}
#progress-bar {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  height: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  body {
    flex-direction: column;
  }
  #outputs {
    margin-top: 30px;
    height: 100%;
  }
  #guesses {
    flex-direction: row;
    max-height: unset;
    max-width: 100vw;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  #toast {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  #letters {
    --hex-size: 45px;
    margin-top: 10px;
  }
  #controls {
    margin-top: 10px;
  }
}